@reference './index.css';

h1 {
    @apply scroll-m-20 text-4xl mb-2 font-semibold tracking-tight lg:text-5xl;
    font-family: 'Satoshi', sans-serif;
}

h2 {
    @apply scroll-m-20 border-b pb-2 mb-2 text-3xl font-semibold tracking-tight;
    font-family: 'Satoshi', sans-serif;
}

h3 {
    @apply scroll-m-20 text-2xl mb-2 font-semibold tracking-tight;
    font-family: 'Satoshi', sans-serif;
}

h4 {
    @apply scroll-m-20 text-xl mb-2 font-semibold tracking-tight;
    font-family: 'Satoshi', sans-serif;
}

h5 {
    @apply scroll-m-20 text-lg mb-2 font-semibold tracking-tight;
    font-family: 'Satoshi', sans-serif;
}

h6 {
    @apply scroll-m-20 mb-2 font-semibold tracking-tight;
    font-family: 'Satoshi', sans-serif;
}

p {
    @apply leading-7;
}